<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Collective Admin Panel a Flat Bootstrap Responsive Website Template | Home :: W3Layouts</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Style/style-starter2.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
   
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="robots" content="noindex">
    
        <link rel="stylesheet" href="/assests/css/font-awesome.min.css">
        <!-- New toolbar-->
        <style>
*           {
                box-sizing: border-box;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            }        
        </style>
        <div class="pull-right toggle-right-sidebar">
            <span class="fa title-open-right-sidebar tooltipstered fa-angle-double-right"></span>
        </div>

        <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse">
            <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">
                <div id="w3lDemoBar" class="w3l-demo-bar">
                    <div class="demo-btns">
                        <a href="https://w3layouts.com/?p=42007">
                            <span class="w3l-icon -back">
                                <span class="fa fa-arrow-left"></span>
                            </span>
                            <span class="w3l-text">Back</span>
                        </a>
                        <a href="https://w3layouts.com/?p=42007">
                            <span class="w3l-icon -download">
                                <span class="fa fa-download"></span>
                            </span>
                            <span class="w3l-text">Download</span>
                        </a>
                        <a href="https://w3layouts.com/checkout/?add-to-cart=42007" class="no-margin-bottom-mobile">
                            <span class="w3l-icon -buy">
                                <span class="fa fa-shopping-cart"></span>
                            </span>
                            <span class="w3l-text">Buy</span>
                        </a>
                    </div>
                </div>
                <div class="right-sidebar-panel-content animated fadeInRight" tabindex="5003"
                     style="overflow: hidden; outline: none;">
                </div>
            </div>
        </div>
        <div class="se-pre-con"></div>
        <section>
            <!-- sidebar menu start -->
            <div class="sidebar-menu sticky-sidebar-menu">

                <!-- logo start -->
                <div class="logo">
                    <h1><a href="index.html">Collective</a></h1>
                </div>
                <div class="logo-icon text-center">
                    <a href="index.html" title="logo"><img src="~/images/logo.png" alt="logo-icon"> </a>
                </div>
                <!-- //logo end -->

                <div class="sidebar-menu-inner">

                    <!-- sidebar nav start -->
                    <ul class="nav nav-pills nav-stacked custom-nav">
                        <li class="active">
                            <a href="index.html"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
                        </li>
                        <li class="menu-list">
                            <a href="#">
                                <i class="fa fa-cogs"></i>
                                <span>Elements <i class="lnr lnr-chevron-right"></i></span>
                            </a>
                            <ul class="sub-menu-list">
                                <li><a href="carousels.html">Carousels</a> </li>
                                <li><a href="cards.html">Default cards</a> </li>
                                <li><a href="people.html">People cards</a></li>
                            </ul>
                        </li>
                        <li class="menu-list">
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>More pages <i class="lnr lnr-chevron-right"></i></span>
                            </a>
                            <ul class="sub-menu-list">
                                <li><a href="timeline.html">Timeline</a></li>
                                <li><a href="error.html">404</a></li>
                                <li><a href="blank-page.html">Blank Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="charts.html">
                                <i class="fa fa-pie-chart"></i> <span>Charts</span> <label class="label label-primary"> new</label>
                            </a>
                        </li>
                        <li><a href="pricing.html"><i class="fa fa-table"></i> <span>Pricing tables</span></a></li>
                        <li class="menu-list">
                            <a href="#">
                                <i class="fa fa-envelope"></i>
                                <span>Mailbox <i class="lnr lnr-chevron-right"></i></span>
                            </a>
                            <ul class="sub-menu-list">
                                <li><a href="inbox.html">Inbox</a> </li>
                                <li><a href="#compose-mail.html">Compose Mail</a></li>
                            </ul>
                        </li>
                        <li><a href="blocks.html"><i class="fa fa-th"></i> <span>Content blocks</span></a></li>
                        <li><a href="faq.html"><i class="fa fa-question-circle"></i> <span>Faq's</span></a></li>
                        <li class="menu-list">
                            <a href="#">
                                <i class="fa fa-user"></i>
                                <span>User <i class="lnr lnr-chevron-right"></i></span>
                            </a>
                            <ul class="sub-menu-list">
                                <li><a href="login.html">Login</a> </li>
                                <li><a href="register.html">Sign Up</a></li>
                                <li><a href="forgot-password.html">Forgot Password</a></li>
                            </ul>
                        </li>
                        <li><a href="forms.html"><i class="fa fa-file-text"></i> <span>Forms</span></a></li>
                    </ul>
                    <!-- //sidebar nav end -->
                    <!-- toggle button start -->
                    <a class="toggle-btn">
                        <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
                        <i class="fa fa-angle-double-right menu-collapsed__right"></i>
                    </a>
                    <!-- //toggle button end -->
                </div>
            </div>
            <!-- //sidebar menu end -->
            <!-- header-starts -->
            <div class="header sticky-header">

                <!-- notification menu start -->
                <div class="menu-right">
                    <div class="navbar user-panel-top">
                        <div class="search-box">
                            <form action="#search-results.html" method="get">
                                <input class="search-input" placeholder="Search Here..." type="search" id="search">
                                <button class="search-submit" value=""><span class="fa fa-search"></span></button>
                            </form>
                        </div>
                        <div class="user-dropdown-details d-flex">
                            <div class="profile_details_left">
                                <ul class="nofitications-dropdown">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bell-o"></i><span class="badge blue">3</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="notification_header">
                                                    <h3>You have 3 new notifications</h3>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#" class="grid">
                                                    <div class="user_img"><img src="" alt=""></div>
                                                    <div class="notification_desc">
                                                        <p>Johnson purchased template</p>
                                                        <span>Just Now</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="odd">
                                                <a href="#" class="grid">
                                                    <div class="user_img"><img src="assets/images/avatar2.jpg" alt=""></div>
                                                    <div class="notification_desc">
                                                        <p>New customer registered </p>
                                                        <span>1 hour ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="grid">
                                                    <div class="user_img"><img src="assets/images/avatar3.jpg" alt=""></div>
                                                    <div class="notification_desc">
                                                        <p>Lorem ipsum dolor sit amet </p>
                                                        <span>2 hours ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="notification_bottom">
                                                    <a href="#all" class="bg-primary">See all notifications</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-comment-o"></i><span class="badge blue">4</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="notification_header">
                                                    <h3>You have 4 new messages</h3>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#" class="grid">
                                                    <div class="user_img"><img src="assets/images/avatar1.jpg" alt=""></div>
                                                    <div class="notification_desc">
                                                        <p>Johnson purchased template</p>
                                                        <span>Just Now</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="odd">
                                                <a href="#" class="grid">
                                                    <div class="user_img"><img src="assets/images/avatar2.jpg" alt=""></div>
                                                    <div class="notification_desc">
                                                        <p>New customer registered </p>
                                                        <span>1 hour ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="grid">
                                                    <div class="user_img"><img src="assets/images/avatar3.jpg" alt=""></div>
                                                    <div class="notification_desc">
                                                        <p>Lorem ipsum dolor sit amet </p>
                                                        <span>2 hours ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="grid">
                                                    <div class="user_img"><img src="assets/images/avatar1.jpg" alt=""></div>
                                                    <div class="notification_desc">
                                                        <p>Johnson purchased template</p>
                                                        <span>Just Now</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="notification_bottom">
                                                    <a href="#all" class="bg-primary">See all messages</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="profile_details">
                                <ul>
                                    <li class="dropdown profile_details_drop">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                                           aria-expanded="false">
                                            <div class="profile_img">
                                                <img src="assets/images/profileimg.jpg" class="rounded-circle" alt="" />
                                                <div class="user-active">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                            <li class="user-info">
                                                <h5 class="user-name">John Deo</h5>
                                                <span class="status ml-2">Available</span>
                                            </li>
                                            <li> <a href="#"><i class="lnr lnr-user"></i>My Profile</a> </li>
                                            <li> <a href="#"><i class="lnr lnr-users"></i>1k Followers</a> </li>
                                            <li> <a href="#"><i class="lnr lnr-cog"></i>Setting</a> </li>
                                            <li> <a href="#"><i class="lnr lnr-heart"></i>100 Likes</a> </li>
                                            <li class="logout"> <a href="#sign-up.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--notification menu end -->
            </div>
            <!-- //header-ends -->
            <!-- main content start -->
            <div class="main-content">

                <!-- content -->
                <div class="container-fluid content-top-gap">
                    <!-- statistics data -->
                    <div class="statistics">
                        <div class="row">
                            <div class="col-xl-6 pr-xl-2">
                                <div class="row">
                                    <div class="col-sm-6 pr-sm-2 statistics-grid">
                                        <div class="card card_border border-primary-top p-4">
                                            <i class="lnr lnr-eye"> </i>
                                            <h3 class="text-secondary number">18</h3>
                                            <p class="stat-text">Open Incidents</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pr-sm-2 statistics-grid">
                                        <div class="card card_border border-primary-top p-4">
                                            <i class="lnr lnr-cloud-download"> </i>
                                            <h3 class="text-success number">2</h3>
                                            <p class="stat-text">Resolved Incidents</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pr-sm-2 statistics-grid">
                                        <div class="card card_border border-primary-top p-4">
                                            <i class="lnr lnr-cart"> </i>
                                            <h3 class="text-danger number">10</h3>
                                            <p class="stat-text">Open Investigations</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pl-sm-2 statistics-grid">
                                        <div class="card card_border border-primary-top p-4">
                                            <i class="lnr lnr-eye"> </i>
                                            <h3 class="text-secondary number">9</h3>
                                            <p class="stat-text">Inspections Scheduled</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 pl-xl-2">
                                <div class="row">
                                    <div class="col-sm-6 pr-sm-2 statistics-grid">
                                        <div class="card card_border border-primary-top p-4">
                                            <i class="lnr lnr-cloud-download"> </i>
                                            <h3 class="text-success number">2</h3>
                                            <p class="stat-text">Injury/Illness Reported</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pl-sm-2 statistics-grid">
                                        <div class="card card_border border-primary-top p-4">
                                            <i class="lnr lnr-cart"> </i>
                                            <h3 class="text-danger number">10</h3>
                                            <p class="stat-text">Covid-19 Cases</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //statistics data -->
                    <!-- charts -->
                    <div class="chart">
                        <div class="row">
                            <div class="col-lg-6 pr-lg-2 chart-grid">
                                <div class="card text-center card_border">
                                    <div class="card-header chart-grid__header">
                                        Incident Status per Location
                                    </div>
                                    <div class="card-body">
                                        <!-- bar chart -->
                                        <script src="https://code.highcharts.com/highcharts.js"></script>
                                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                        <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
                                        <figure class="highcharts-figure">
                                            <div id="container"></div>
                                        </figure>
                                        <script>
                                            // Data retrieved from: https://www.uefa.com/uefachampionsleague/history/
                                            Highcharts.chart('container', {
                                                chart: {
                                                    type: 'bar'
                                                },
                                                title: {
                                                    text: 'UEFA CL top scorers by season'
                                                },
                                                xAxis: {
                                                    categories: ['2020/21', '2019/20', '2018/19', '2017/18', '2016/17']
                                                },
                                                yAxis: {
                                                    min: 0,
                                                    title: {
                                                        text: 'Goals'
                                                    }
                                                },
                                                legend: {
                                                    reversed: true
                                                },
                                                plotOptions: {
                                                    series: {
                                                        stacking: 'normal'
                                                    }
                                                },
                                                series: [{
                                                    name: 'Cristiano Ronaldo',
                                                    data: [4, 4, 6, 15, 12]
                                                }, {
                                                    name: 'Lionel Messi',
                                                    data: [5, 3, 12, 6, 11]
                                                }, {
                                                    name: 'Robert Lewandowski',
                                                    data: [5, 15, 8, 5, 8]
                                                }]
                                            });

                                        </script>
                                        <!-- //bar chart -->
                                    </div>
                                    <div class="card-footer text-muted chart-grid__footer">
                                        Updated 2 hours ago
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 pl-lg-2 chart-grid">
                                <div class="card text-center card_border">
                                    <div class="card-header chart-grid__header">
                                        Incident Stage
                                    </div>
                                    <div class="card-body">
                                        <!-- line chart -->
                                        <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
                                        <figure class="highcharts-figure">
                                            <div id="container1"></div>
                                        </figure>
                                        <script>
                                            var colors = Highcharts.getOptions().colors,
                                                categories = [
                                                    'Chrome',
                                                    'Safari',
                                                    'Edge',
                                                    'Firefox',
                                                    'Other'
                                                ],
                                                data = [
                                                    {
                                                        y: 61.04,
                                                        color: colors[2],
                                                        drilldown: {
                                                            name: 'Chrome',
                                                            categories: [
                                                                'Chrome v97.0',
                                                                'Chrome v96.0',
                                                                'Chrome v95.0',
                                                                'Chrome v94.0',
                                                                'Chrome v93.0',
                                                                'Chrome v92.0',
                                                                'Chrome v91.0',
                                                                'Chrome v90.0',
                                                                'Chrome v89.0',
                                                                'Chrome v88.0',
                                                                'Chrome v87.0',
                                                                'Chrome v86.0',
                                                                'Chrome v85.0',
                                                                'Chrome v84.0',
                                                                'Chrome v83.0',
                                                                'Chrome v81.0',
                                                                'Chrome v89.0',
                                                                'Chrome v79.0',
                                                                'Chrome v78.0',
                                                                'Chrome v76.0',
                                                                'Chrome v75.0',
                                                                'Chrome v72.0',
                                                                'Chrome v70.0',
                                                                'Chrome v69.0',
                                                                'Chrome v56.0',
                                                                'Chrome v49.0'
                                                            ],
                                                            data: [
                                                                36.89,
                                                                18.16,
                                                                0.54,
                                                                0.7,
                                                                0.8,
                                                                0.41,
                                                                0.31,
                                                                0.13,
                                                                0.14,
                                                                0.1,
                                                                0.35,
                                                                0.17,
                                                                0.18,
                                                                0.17,
                                                                0.21,
                                                                0.1,
                                                                0.16,
                                                                0.43,
                                                                0.11,
                                                                0.16,
                                                                0.15,
                                                                0.14,
                                                                0.11,
                                                                0.13,
                                                                0.12
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        y: 9.47,
                                                        color: colors[3],
                                                        drilldown: {
                                                            name: 'Safari',
                                                            categories: [
                                                                'Safari v15.3',
                                                                'Safari v15.2',
                                                                'Safari v15.1',
                                                                'Safari v15.0',
                                                                'Safari v14.1',
                                                                'Safari v14.0',
                                                                'Safari v13.1',
                                                                'Safari v13.0',
                                                                'Safari v12.1'
                                                            ],
                                                            data: [
                                                                0.1,
                                                                2.01,
                                                                2.29,
                                                                0.49,
                                                                2.48,
                                                                0.64,
                                                                1.17,
                                                                0.13,
                                                                0.16
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        y: 9.32,
                                                        color: colors[5],
                                                        drilldown: {
                                                            name: 'Edge',
                                                            categories: [
                                                                'Edge v97',
                                                                'Edge v96',
                                                                'Edge v95'
                                                            ],
                                                            data: [
                                                                6.62,
                                                                2.55,
                                                                0.15
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        y: 8.15,
                                                        color: colors[1],
                                                        drilldown: {
                                                            name: 'Firefox',
                                                            categories: [
                                                                'Firefox v96.0',
                                                                'Firefox v95.0',
                                                                'Firefox v94.0',
                                                                'Firefox v91.0',
                                                                'Firefox v78.0',
                                                                'Firefox v52.0'
                                                            ],
                                                            data: [
                                                                4.17,
                                                                3.33,
                                                                0.11,
                                                                0.23,
                                                                0.16,
                                                                0.15
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        y: 11.02,
                                                        color: colors[6],
                                                        drilldown: {
                                                            name: 'Other',
                                                            categories: [
                                                                'Other'
                                                            ],
                                                            data: [
                                                                11.02
                                                            ]
                                                        }
                                                    }
                                                ],
                                                browserData = [],
                                                versionsData = [],
                                                i,
                                                j,
                                                dataLen = data.length,
                                                drillDataLen,
                                                brightness;


                                            // Build the data arrays
                                            for (i = 0; i < dataLen; i += 1) {

                                                // add browser data
                                                browserData.push({
                                                    name: categories[i],
                                                    y: data[i].y,
                                                    color: data[i].color
                                                });

                                                // add version data
                                                drillDataLen = data[i].drilldown.data.length;
                                                for (j = 0; j < drillDataLen; j += 1) {
                                                    brightness = 0.2 - (j / drillDataLen) / 5;
                                                    versionsData.push({
                                                        name: data[i].drilldown.categories[j],
                                                        y: data[i].drilldown.data[j],
                                                        color: Highcharts.color(data[i].color).brighten(brightness).get()
                                                    });
                                                }
                                            }

                                            // Create the chart
                                            Highcharts.chart('container1', {
                                                chart: {
                                                    type: 'pie'
                                                },
                                                title: {
                                                    text: 'Browser market share, January, 2022',
                                                    align: 'left'
                                                },
                                                subtitle: {
                                                    text: 'Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>',
                                                    align: 'left'
                                                },
                                                plotOptions: {
                                                    pie: {
                                                        shadow: false,
                                                        center: ['50%', '50%']
                                                    }
                                                },
                                                tooltip: {
                                                    valueSuffix: '%'
                                                },
                                                series: [{
                                                    name: 'Browsers',
                                                    data: browserData,
                                                    size: '60%',
                                                    dataLabels: {
                                                        formatter: function () {
                                                            return this.y > 5 ? this.point.name : null;
                                                        },
                                                        color: '#ffffff',
                                                        distance: -30
                                                    }
                                                }, {
                                                    name: 'Versions',
                                                    data: versionsData,
                                                    size: '80%',
                                                    innerSize: '60%',
                                                    dataLabels: {
                                                        formatter: function () {
                                                            // display only if larger than 1
                                                            return this.y > 1 ? '<b>' + this.point.name + ':</b> ' +
                                                                this.y + '%' : null;
                                                        }
                                                    },
                                                    id: 'versions'
                                                }],
                                                responsive: {
                                                    rules: [{
                                                        condition: {
                                                            maxWidth: 400
                                                        },
                                                        chartOptions: {
                                                            series: [{
                                                            }, {
                                                                id: 'versions',
                                                                dataLabels: {
                                                                    enabled: false
                                                                }
                                                            }]
                                                        }
                                                    }]
                                                }
                                            });

                                        </script>
                                        <!-- //line chart -->
                                    </div>
                                    <div class="card-footer text-muted chart-grid__footer">
                                        Updated just now
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 pr-lg-2 chart-grid">
                                <div class="card text-center card_border">
                                    <div class="card-header chart-grid__header">
                                        Incident Frequency
                                    </div>
                                    <div class="card-body">
                                        <!-- pie chart -->
                                        <script src="https://code.highcharts.com/highcharts.js"></script>
                                        <script src="https://code.highcharts.com/modules/data.js"></script>
                                        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
                                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                        <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                        <figure class="highcharts-figure">
                                            <div id="container2"></div>
                                        </figure>
                                        <script>
                                            // Data retrieved from https://gs.statcounter.com/browser-market-share#monthly-202201-202201-bar

                                            // Create the chart
                                            Highcharts.chart('container2', {
                                                chart: {
                                                    type: 'column'
                                                },
                                                title: {
                                                    align: 'left',
                                                    text: 'Browser market shares. January, 2022'
                                                },
                                                subtitle: {
                                                    align: 'left',
                                                    text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
                                                },
                                                accessibility: {
                                                    announceNewData: {
                                                        enabled: true
                                                    }
                                                },
                                                xAxis: {
                                                    type: 'category'
                                                },
                                                yAxis: {
                                                    title: {
                                                        text: 'Total percent market share'
                                                    }

                                                },
                                                legend: {
                                                    enabled: false
                                                },
                                                plotOptions: {
                                                    series: {
                                                        borderWidth: 0,
                                                        dataLabels: {
                                                            enabled: true,
                                                            format: '{point.y:.1f}%'
                                                        }
                                                    }
                                                },

                                                tooltip: {
                                                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                                                },

                                                series: [
                                                    {
                                                        name: "Browsers",
                                                        colorByPoint: true,
                                                        data: [
                                                            {
                                                                name: "Chrome",
                                                                y: 63.06,
                                                                drilldown: "Chrome"
                                                            },
                                                            {
                                                                name: "Safari",
                                                                y: 19.84,
                                                                drilldown: "Safari"
                                                            },
                                                            {
                                                                name: "Firefox",
                                                                y: 4.18,
                                                                drilldown: "Firefox"
                                                            },
                                                            {
                                                                name: "Edge",
                                                                y: 4.12,
                                                                drilldown: "Edge"
                                                            },
                                                            {
                                                                name: "Opera",
                                                                y: 2.33,
                                                                drilldown: "Opera"
                                                            },
                                                            {
                                                                name: "Internet Explorer",
                                                                y: 0.45,
                                                                drilldown: "Internet Explorer"
                                                            },
                                                            {
                                                                name: "Other",
                                                                y: 1.582,
                                                                drilldown: null
                                                            }
                                                        ]
                                                    }
                                                ],
                                                drilldown: {
                                                    breadcrumbs: {
                                                        position: {
                                                            align: 'right'
                                                        }
                                                    },
                                                    series: [
                                                        {
                                                            name: "Chrome",
                                                            id: "Chrome",
                                                            data: [
                                                                [
                                                                    "v65.0",
                                                                    0.1
                                                                ],
                                                                [
                                                                    "v64.0",
                                                                    1.3
                                                                ],
                                                                [
                                                                    "v63.0",
                                                                    53.02
                                                                ],
                                                                [
                                                                    "v62.0",
                                                                    1.4
                                                                ],
                                                                [
                                                                    "v61.0",
                                                                    0.88
                                                                ],
                                                                [
                                                                    "v60.0",
                                                                    0.56
                                                                ],
                                                                [
                                                                    "v59.0",
                                                                    0.45
                                                                ],
                                                                [
                                                                    "v58.0",
                                                                    0.49
                                                                ],
                                                                [
                                                                    "v57.0",
                                                                    0.32
                                                                ],
                                                                [
                                                                    "v56.0",
                                                                    0.29
                                                                ],
                                                                [
                                                                    "v55.0",
                                                                    0.79
                                                                ],
                                                                [
                                                                    "v54.0",
                                                                    0.18
                                                                ],
                                                                [
                                                                    "v51.0",
                                                                    0.13
                                                                ],
                                                                [
                                                                    "v49.0",
                                                                    2.16
                                                                ],
                                                                [
                                                                    "v48.0",
                                                                    0.13
                                                                ],
                                                                [
                                                                    "v47.0",
                                                                    0.11
                                                                ],
                                                                [
                                                                    "v43.0",
                                                                    0.17
                                                                ],
                                                                [
                                                                    "v29.0",
                                                                    0.26
                                                                ]
                                                            ]
                                                        },
                                                        {
                                                            name: "Firefox",
                                                            id: "Firefox",
                                                            data: [
                                                                [
                                                                    "v58.0",
                                                                    1.02
                                                                ],
                                                                [
                                                                    "v57.0",
                                                                    7.36
                                                                ],
                                                                [
                                                                    "v56.0",
                                                                    0.35
                                                                ],
                                                                [
                                                                    "v55.0",
                                                                    0.11
                                                                ],
                                                                [
                                                                    "v54.0",
                                                                    0.1
                                                                ],
                                                                [
                                                                    "v52.0",
                                                                    0.95
                                                                ],
                                                                [
                                                                    "v51.0",
                                                                    0.15
                                                                ],
                                                                [
                                                                    "v50.0",
                                                                    0.1
                                                                ],
                                                                [
                                                                    "v48.0",
                                                                    0.31
                                                                ],
                                                                [
                                                                    "v47.0",
                                                                    0.12
                                                                ]
                                                            ]
                                                        },
                                                        {
                                                            name: "Internet Explorer",
                                                            id: "Internet Explorer",
                                                            data: [
                                                                [
                                                                    "v11.0",
                                                                    6.2
                                                                ],
                                                                [
                                                                    "v10.0",
                                                                    0.29
                                                                ],
                                                                [
                                                                    "v9.0",
                                                                    0.27
                                                                ],
                                                                [
                                                                    "v8.0",
                                                                    0.47
                                                                ]
                                                            ]
                                                        },
                                                        {
                                                            name: "Safari",
                                                            id: "Safari",
                                                            data: [
                                                                [
                                                                    "v11.0",
                                                                    3.39
                                                                ],
                                                                [
                                                                    "v10.1",
                                                                    0.96
                                                                ],
                                                                [
                                                                    "v10.0",
                                                                    0.36
                                                                ],
                                                                [
                                                                    "v9.1",
                                                                    0.54
                                                                ],
                                                                [
                                                                    "v9.0",
                                                                    0.13
                                                                ],
                                                                [
                                                                    "v5.1",
                                                                    0.2
                                                                ]
                                                            ]
                                                        },
                                                        {
                                                            name: "Edge",
                                                            id: "Edge",
                                                            data: [
                                                                [
                                                                    "v16",
                                                                    2.6
                                                                ],
                                                                [
                                                                    "v15",
                                                                    0.92
                                                                ],
                                                                [
                                                                    "v14",
                                                                    0.4
                                                                ],
                                                                [
                                                                    "v13",
                                                                    0.1
                                                                ]
                                                            ]
                                                        },
                                                        {
                                                            name: "Opera",
                                                            id: "Opera",
                                                            data: [
                                                                [
                                                                    "v50.0",
                                                                    0.96
                                                                ],
                                                                [
                                                                    "v49.0",
                                                                    0.82
                                                                ],
                                                                [
                                                                    "v12.1",
                                                                    0.14
                                                                ]
                                                            ]
                                                        }
                                                    ]
                                                }
                                            });

                                        </script>
                                        <!-- //pie chart -->
                                    </div>
                                    <div class="card-footer text-muted chart-grid__footer">
                                        Updated just now
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 pl-lg-2 chart-grid">
                                <div class="card text-center card_border">
                                    <div class="card-header chart-grid__header">
                                        Incident Types
                                    </div>
                                    <div class="card-body">
                                        <!-- stacked bar chart -->
                                        <script src="https://code.highcharts.com/highcharts.js"></script>
                                        <script src="https://code.highcharts.com/modules/data.js"></script>
                                        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
                                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                        <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                        <figure class="highcharts-figure">
                                            <div id="container3"></div>
                                        </figure>
                                        <script>
                                            // Create the chart
                                            Highcharts.chart('container3', {
                                                chart: {
                                                    type: 'pie'
                                                },
                                                title: {
                                                    text: 'Browser market shares. January, 2022',
                                                    align: 'left'
                                                },
                                                subtitle: {
                                                    text: 'Click the slices to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>',
                                                    align: 'left'
                                                },

                                                accessibility: {
                                                    announceNewData: {
                                                        enabled: true
                                                    },
                                                    point: {
                                                        valueSuffix: '%'
                                                    }
                                                },

                                                plotOptions: {
                                                    series: {
                                                        dataLabels: {
                                                            enabled: true,
                                                            format: '{point.name}: {point.y:.1f}%'
                                                        }
                                                    }
                                                },

                                                tooltip: {
                                                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                                                },

                                                series: [
                                                    {
                                                        name: "Browsers",
                                                        colorByPoint: true,
                                                        data: [
                                                            {
                                                                name: "Chrome",
                                                                y: 61.04,
                                                                drilldown: "Chrome"
                                                            },
                                                            {
                                                                name: "Safari",
                                                                y: 9.47,
                                                                drilldown: "Safari"
                                                            },
                                                            {
                                                                name: "Edge",
                                                                y: 9.32,
                                                                drilldown: "Edge"
                                                            },
                                                            {
                                                                name: "Firefox",
                                                                y: 8.15,
                                                                drilldown: "Firefox"
                                                            },
                                                            {
                                                                name: "Other",
                                                                y: 11.02,
                                                                drilldown: null
                                                            }
                                                        ]
                                                    }
                                                ],
                                                drilldown: {
                                                    series: [
                                                        {
                                                            name: "Chrome",
                                                            id: "Chrome",
                                                            data: [
                                                                [
                                                                    "v97.0",
                                                                    36.89
                                                                ],
                                                                [
                                                                    "v96.0",
                                                                    18.16
                                                                ],
                                                                [
                                                                    "v95.0",
                                                                    0.54
                                                                ],
                                                                [
                                                                    "v94.0",
                                                                    0.7
                                                                ],
                                                                [
                                                                    "v93.0",
                                                                    0.8
                                                                ],
                                                                [
                                                                    "v92.0",
                                                                    0.41
                                                                ],
                                                                [
                                                                    "v91.0",
                                                                    0.31
                                                                ],
                                                                [
                                                                    "v90.0",
                                                                    0.13
                                                                ],
                                                                [
                                                                    "v89.0",
                                                                    0.14
                                                                ],
                                                                [
                                                                    "v88.0",
                                                                    0.1
                                                                ],
                                                                [
                                                                    "v87.0",
                                                                    0.35
                                                                ],
                                                                [
                                                                    "v86.0",
                                                                    0.17
                                                                ],
                                                                [
                                                                    "v85.0",
                                                                    0.18
                                                                ],
                                                                [
                                                                    "v84.0",
                                                                    0.17
                                                                ],
                                                                [
                                                                    "v83.0",
                                                                    0.21
                                                                ],
                                                                [
                                                                    "v81.0",
                                                                    0.1
                                                                ],
                                                                [
                                                                    "v80.0",
                                                                    0.16
                                                                ],
                                                                [
                                                                    "v79.0",
                                                                    0.43
                                                                ],
                                                                [
                                                                    "v78.0",
                                                                    0.11
                                                                ],
                                                                [
                                                                    "v76.0",
                                                                    0.16
                                                                ],
                                                                [
                                                                    "v75.0",
                                                                    0.15
                                                                ],
                                                                [
                                                                    "v72.0",
                                                                    0.14
                                                                ],
                                                                [
                                                                    "v70.0",
                                                                    0.11
                                                                ],
                                                                [
                                                                    "v69.0",
                                                                    0.13
                                                                ],
                                                                [
                                                                    "v56.0",
                                                                    0.12
                                                                ],
                                                                [
                                                                    "v49.0",
                                                                    0.17
                                                                ]
                                                            ]
                                                        },
                                                        {
                                                            name: "Safari",
                                                            id: "Safari",
                                                            data: [
                                                                [
                                                                    "v15.3",
                                                                    0.1
                                                                ],
                                                                [
                                                                    "v15.2",
                                                                    2.01
                                                                ],
                                                                [
                                                                    "v15.1",
                                                                    2.29
                                                                ],
                                                                [
                                                                    "v15.0",
                                                                    0.49
                                                                ],
                                                                [
                                                                    "v14.1",
                                                                    2.48
                                                                ],
                                                                [
                                                                    "v14.0",
                                                                    0.64
                                                                ],
                                                                [
                                                                    "v13.1",
                                                                    1.17
                                                                ],
                                                                [
                                                                    "v13.0",
                                                                    0.13
                                                                ],
                                                                [
                                                                    "v12.1",
                                                                    0.16
                                                                ]
                                                            ]
                                                        },
                                                        {
                                                            name: "Edge",
                                                            id: "Edge",
                                                            data: [
                                                                [
                                                                    "v97",
                                                                    6.62
                                                                ],
                                                                [
                                                                    "v96",
                                                                    2.55
                                                                ],
                                                                [
                                                                    "v95",
                                                                    0.15
                                                                ]
                                                            ]
                                                        },
                                                        {
                                                            name: "Firefox",
                                                            id: "Firefox",
                                                            data: [
                                                                [
                                                                    "v96.0",
                                                                    4.17
                                                                ],
                                                                [
                                                                    "v95.0",
                                                                    3.33
                                                                ],
                                                                [
                                                                    "v94.0",
                                                                    0.11
                                                                ],
                                                                [
                                                                    "v91.0",
                                                                    0.23
                                                                ],
                                                                [
                                                                    "v78.0",
                                                                    0.16
                                                                ],
                                                                [
                                                                    "v52.0",
                                                                    0.15
                                                                ]
                                                            ]
                                                        }
                                                    ]
                                                }
                                            });

                                        </script>
                                        <!-- //stacked bar chart -->
                                    </div>
                                    <div class="card-footer text-muted chart-grid__footer">
                                        Updated just now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //charts -->    
                    
                    
                </div>
                <!-- //content -->
            </div>
            <!-- main content end-->
        </section>
        <!--footer section start-->
        <footer class="dashboard">
            <p>
                &copy 2020 Collective. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank"
                                                                          class="text-primary">W3layouts.</a>
            </p>
        </footer>
        <!--footer section end-->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->


        <script src="assets/js/jquery-3.3.1.min.js"></script>
        <script src="assets/js/jquery-1.10.2.min.js"></script>

        <!-- chart js -->
        <script src="assets/js/Chart.min.js"></script>
        <script src="assets/js/utils.js"></script>
        <!-- //chart js -->
        <!-- Different scripts of charts.  Ex.Barchart, Stackedchart, Linechart, Piechart -->
        <script src="~/js/bar.js"></script>
        <script src="assets/js/stacked.js"></script>
        <script src="assets/js/linechart.js"></script>
        <script src="assets/js/pie.js"></script>
        <!-- //Different scripts of charts.  Ex.Barchart, Stackedchart, Linechart, Piechart -->
        <!-- data tables js -->
        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
        <!-- //data tables js -->

        <script src="assets/js/jquery.dataTables.min.js"></script>


        <script src="assets/js/faq.js"></script>

        <script src="assets/js/jquery.nicescroll.js"></script>
        <script src="assets/js/scripts.js"></script>

        <!-- close script -->
        <script>
            var closebtns = document.getElementsByClassName("close-grid");
            var i;

            for (i = 0; i < closebtns.length; i++) {
                closebtns[i].addEventListener("click", function () {
                    this.parentElement.style.display = 'none';
                });
            }
        </script>
        <!-- //close script -->
        <!-- disable body scroll when navbar is in active -->
        <script>
            $(function () {
                $('.sidebar-menu-collapsed').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
        <!-- disable body scroll when navbar is in active -->
        <!-- loading-gif Js -->
        <script src="assets/js/modernizr.js"></script>
        <script>
            $(window).load(function () {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");;
            });
        </script>
        <!--// loading-gif Js -->
        <!-- Bootstrap Core JavaScript -->
        <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>
