<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Login" />
    <!-- //Meta tag Keywords -->
    <link href="~/Style/style.css" rel="stylesheet" />
    <!--/Style-CSS -->
    <link href="~/Style/style.css" rel="stylesheet" />
    <!--//Style-CSS -->
    <link href="~/Style/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Login</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Log In</h2>
                        <form action="Verify" method="post">
                            <input type="text" name="name" placeholder="Enter User Name" required="" />
                            <input type="password" name="password" placeholder="Enter Password" required="" id="myInput" />
                            <button class="btn" type="submit">Log In</button>
                        </form>
                        <p class="account">Don't have an account? <a href="/Account/Register">Register</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="~/images/1.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <div class="copyright text-center">
            <p class="copy-footer-29">
                © 2022 Login Form. All rights reserved
            </p>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>
</html>